# Dependencies
node_modules
npm-debug.log

# Next.js build output
.next
out

# Environment files
.env*.local

# IDE
.idea
.vscode

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
*.md
*.log
.DS_Store
